/* ================================================== */
/* RESETS && DEFAULTS */
/* ================================================== */
* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
}

html {
}

body {
	background-color: #F1F2F3;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	margin: 0;
	padding: 0;
	color: #222222;
}

p {
	font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  text-align: center;
  color: #7F8C8D;
}

/* ================================================== */
/* LAYOUT STYLES */
/* ================================================== */

/* GENERAL LAYOUT STYLES */

/*Navbar style*/
.mynavbar {
  color:#238EC5;
  border-radius:0;
  background-color: white;
}

.mynavbar .navbar-toggle {
  background-color: #238EC5;
}

.mynavbar .navbar-toggle .icon-bar {
  background-color:#eeeeee;
}

/*section style*/
/*slider*/
#mycontent {
  max-width: none;
  margin: 0 auto;
}

.myslides {
  width: 100%;
  height: 500px;
  padding-bottom: 20px;
}

.w3-left, .w3-right, .w3-badge {
  cursor:pointer;
}

.w3-badge {
  height:13px;
  width:13px;
  padding:0;
}

/*article*/
.myimg {
  width: 100%;
  height: 400px;
  margin: 10px 0;
}

.blockheader {
  font-family: "roboto";
  font-weight: 300;
  font-size: 19px;
  text-align: center;
}

.line-subtitle {
  height: 1px;
  width: 70px;
  margin: 17px auto;
  background-color: #DBDBDB;
}

/*footer style*/
.mainfooter {
  background-color: #238EC5;
  margin-top: 10px;
}

.footerlist {
  margin: 10px;
  list-style: none;
  color: #fff;
  float: left;
}

.footerlist li {
  display: block;
  padding: 10px;
}

.footerlist li a {
  text-decoration: none;
}

.footerlist li a:hover, .footerlist li a:visited {
}

/*desktop*/
@media screen and (min-width: 764px) {

  .mainfooter {
    height: 150px;
  }

  .footerlist li {
      display: inline-block;
  }

}
